{% extends "layout.html" %}

{% block content %}
<div class="login-page1">
  <div class="form1">


  <center><p style="font-size:170%; color:#eaeaea">Sign In</p></center>

  {% for message in form.email.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  {% for message in form.password.errors %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  
  <form action="{{ url_for('signin') }}" method=post>

    {{ form.hidden_tag() }}
    
    {{ form.email.label }}
    {{ form.email }}
    
    {{ form.password.label }}
    {{ form.password }}
    
    {{ form.submit }}
  </form>
  
    </div>
</div>



    
{% endblock %}
